# Imports

In [1]:
import pandas as pd
import numpy as np

# Functions

In [2]:
def get_data (path):
    df = pd.read_csv(path)
    df.head()
    df.rename(columns = {'price':'buying_price'}, inplace = True)
    return df

def col_price_median(data):
    df = data[['buying_price', 'zipcode']].groupby('zipcode').median().reset_index()
    df.columns = df.columns.str.replace('buying_price', 'price_median')
    df2 = pd.merge(data,df,on='zipcode',how='inner')
    return df2

def col_status(df2):
    for i in range( len(df2) ):
        if (df2.loc[i, 'buying_price'] < df2.loc[i, 'price_median']) & (df2.loc[i, 'condition'] > 2):
            df2.loc[i, 'status'] = 'buy'
        else:
            df2.loc[i, 'status'] = 'not_buy'
    return df2

def col_season(data):
    data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
    
    data['season'] = data['date'].apply(lambda x: 
                                        'winter' 
                                        if ts('2014-05-02') <= x <= ts('2014-05-31') else
                                       'summer' 
                                        if ts('2014-06-01') <= x <= ts('2014-11-30') else
                                       'winter')
    return data

def ts(obj):
    return pd.to_datetime(obj)

def col_season_median(data):
    df = data[['season', 'zipcode', 'buying_price']].groupby(['season', 'zipcode']).median()
    df.columns = df.columns.str.replace('buying_price', 'season_median')
    df2 = pd.merge(data,df,on=['zipcode', 'season'],how='inner')
    return df2

def col_selling_price(data):
    data['selling_price'] = float(0)
    for i in range( len(data) ):
        if (data.loc[i, 'buying_price'] < data.loc[i, 'season_median']) & (data.loc[i, 'status'] == 'buy'):
            data.loc[i, 'selling_price'] = float(data.loc[i, 'buying_price']) * 1.30
        if (data.loc[i, 'buying_price'] >= data.loc[i, 'season_median']) & (data.loc[i, 'status'] == 'buy'):
            data.loc[i, 'selling_price'] = float(data.loc[i, 'buying_price']) * 1.10
    return data

def col_profit(data):
    data['profit'] = float(0)
    for i in range(len(data)):
        if data.loc[i, 'selling_price'] != 0:
            data.loc[i, 'profit'] = float(data.loc[i, 'selling_price']) - float(data.loc[i, 'buying_price'])
        else:
            None
    return data

## Data Extraction

In [3]:
path = 'kc_house_data.csv'
data = get_data(path)

## Data Visualization

In [4]:
data.columns

Index(['id', 'date', 'buying_price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
data

,id,date,buying_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
data.dtypes

id                 int64
date              object
buying_price     float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

## Data Transformation

In [7]:
# setting the price_median column
data = col_price_median(data)

In [8]:
# setting the status column - ready for the buying report
data = col_status(data)

In [9]:
# setting the seson column
data = col_season(data)

In [10]:
# setting the season_median column - price median by season and zipcode 
data = col_season_median(data)

In [11]:
# setting the selling_price column - ready for the selling report
data = col_selling_price(data)

In [12]:
# setting the profit column
data = col_profit(data)

In [13]:
report = data[['id', 'zipcode','season', 'price_median', 'buying_price','status', 'selling_price', 'profit']]
report.to_csv('buying-selling-report.csv',index=False)

In [14]:
report.to_excel('buying-selling-report.xlsx', index=False)

In [15]:
data

,id,date,buying_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,price_median,status,season,season_median,selling_price,profit
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,47.5112,-122.257,1340,5650,278277.0,buy,summer,271000.0,288470.0,66570.0
1,4060000240,2014-06-23,205425.0,2,1.00,880,6780,1.0,0,0,...,47.5009,-122.248,1190,6780,278277.0,buy,summer,271000.0,267052.5,61627.5
2,4058801670,2014-07-17,445000.0,3,2.25,2100,8201,1.0,0,2,...,47.5091,-122.244,2660,8712,278277.0,not_buy,summer,271000.0,0.0,0.0
3,2976800796,2014-09-25,236000.0,3,1.00,1300,5898,1.0,0,0,...,47.5053,-122.255,1320,7619,278277.0,buy,summer,271000.0,306800.0,70800.0
4,3969300030,2014-07-23,165000.0,4,1.00,1000,7134,1.0,0,0,...,47.4897,-122.240,1020,7138,278277.0,buy,summer,271000.0,214500.0,49500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,7397300170,2014-05-30,3710000.0,4,3.50,5550,28078,2.0,0,2,...,47.6395,-122.234,2980,19602,1892500.0,not_buy,winter,1832500.0,0.0,0.0
21609,3262300920,2015-04-08,1200000.0,4,3.00,2150,8119,2.0,0,0,...,47.6335,-122.236,1590,8119,1892500.0,buy,winter,1832500.0,1560000.0,360000.0
21610,2470200020,2014-05-14,1880000.0,4,2.75,3260,19542,1.0,0,0,...,47.6245,-122.236,3480,19863,1892500.0,buy,winter,1832500.0,2068000.0,188000.0
21611,3262300485,2015-04-21,2250000.0,5,5.25,3410,8118,2.0,0,0,...,47.6295,-122.236,3410,16236,1892500.0,not_buy,winter,1832500.0,0.0,0.0
21612,3262300818,2015-02-27,1865000.0,4,3.75,3790,8797,2.0,0,0,...,47.6351,-122.236,2660,12150,1892500.0,buy,winter,1832500.0,2051500.0,186500.0

In [25]:
# get the buying price and the selling_price
df = data.loc[data['status'] == 'buy', ['buying_price', 'selling_price', 'profit']]

d = {'Nº of Properties': 10579,
     'Total Cost (US$)': [df['buying_price'].sum()],
     'Sales Revenue (US$)': [df['selling_price'].sum()],
     'Profit Mean': [df['profit'].sum()]}

# set float configuration
pd.set_option('display.float_format', lambda x: '%.2f' % x)

df2 = pd.DataFrame(data=d)
print(df2.to_markdown())
df2

|    |   Nº of Properties |   Total Cost (US$) |   Sales Revenue (US$) |   Profit Mean |
|---:|-------------------:|-------------------:|----------------------:|--------------:|
|  0 |              10579 |        4.09421e+09 |           5.29416e+09 |   1.19995e+09 |

   Nº of Properties  Total Cost (US$)  Sales Revenue (US$)   Profit Mean
0             10579     4094212008.00        5294160803.20 1199948795.20